// //TODO: remove this test border
// * {
//   border: 1px solid red;
// }

//Themes
.App {
  //Animation
  --animation-speed: 0.3s;

  //Sizes
  --size-clock: 300px;
  --size-clock-inset: 255px;
  --size-clock-round: 17px;
  --size-click-hours: 85px;
  --size-click-mins: 87px;
  --size-click-sec: 118px;

  //Colors
  --color-surface: #eaecf2;
  --color-upper-elem: #e7eef2;
  --color-text: #212121;
  --color-enabled: #6dff69;
  --color-danger: #f50057;

  //Elements colors
  --color-element: #eef0f5;
  --color-element-shadow: rgba(255, 255, 255, 0.7);
  --color-element-shadow-second: rgba(166, 180, 200, 0.65);

  //Accent colors
  --color-accent: #5a88ff;
  --color-accent-shadow: #3f6fea;

  //Enabled colors
  --color-enabled: #7dff7a;
  --color-enabled-second: #5eff5a;
  --color-enabled-focus: #59df57;
  --color-enabled-focus-second: rgb(83, 252, 80);
  --color-enabled-shadow: #56eb52;

  //Shadow colors
  --color-shadow-first: rgba(200, 200, 200, 0.2);
  --color-shadow-second: rgba(250, 250, 250, 0.9);
  --color-shadow-third: rgba(250, 250, 250, 0.3);
}

.App.dark {
  //Colors
  --color-surface: #212121;
  --color-upper-elem: #212121;
  --color-text: #ffffff;
  --color-accent: #b893ff;
  --color-accent-danger: #ee1111;
  //Shadow-colors
  --color-shadow-first: rgba(25, 25, 25, 0.2);
  --color-shadow-second: rgba(41, 41, 41, 0.9);
  --color-shadow-third: rgba(25, 25, 25, 0.5);
}

.App {
  //Normalize
  position: relative;
  z-index: 1;

  //Font Inter default font-weight 700 (500 is avaliable too)
  font-family: "Inter", sans-serif;
  color: var(--color-text);
  font-weight: 700;
  text-align: center;
  min-height: 100vh;
  background-color: var(--color-surface);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 45px 30px;

  //Top part (Weather and Date components)
  &__top-part {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  //Middle part (Analog and Digital clocks)
  &__middle-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    //Margin from top for all components inside
    section:not(:first-child) {
      margin-top: 10%;
    }
  }

  //Bottom part (open settings button)
  &__bottom-part {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
